{% load static %} {% load crispy_forms_tags %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'css/main.css' %}" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3"
      crossorigin="anonymous"
    />
    <title>TASK</title>
  </head>
  <body>
    <div class="container h-100">
      <div class="d-flex justify-content-center h-100">
        <div class="formcard">
          <div class="d-flex justify-content-center">
            <h3>Form TASK</h3>
          </div>
          <div class="justify-content-center form_container">
            <form method="post" enctype="multipart/form-data">
              {% csrf_token %} {{ form|crispy }}
              <br>
              <div class="row">
                <button type="submit" class="col btn btn-primary">SUBMIT</button>            

                <a class="col btn btn-secondary" href="detail" role="button">Details</a>
              </div>
            </form>
            <br>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
